---
name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/hub-description.yaml

permissions:
  contents: read

jobs:
  description:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: tobix
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: tobix/allure-cli
          short-description: ${{ github.event.repository.description }}
